mixin nav(nav_items)
  ul.navmenu
    each item in nav_items
      li.navmenu_item: a.navmenu_link(href=item.href) #{item.title}

mixin groop(groop_items)
  div.groop
    each item in groop_items
      button.groop_btn
        img.groop_img(src=item.src alt=item.alt)

mixin breadcrumbs(breadcrumbs_items)
  ul.breadcrumbs_menu
    each item in breadcrumbs_items
      li.breadcrumbs_item: a.breadcrumbs_link(href=item.href) #{item.title}

mixin catalog_block (catalog_items)
  ul.catalog_block 
    each item in catalog_items
      li.catalog_item: a.catalog_link(href=item.href) #{item.title}

mixin info_block (info_items)
  ul.info_block 
    each item in info_items
      li.info_item: a.info_link(href=item.href) #{item.title}