mixin nav(nav_items)
  ul.navmenu
    each item in nav_items
      li.navmenu_item: a.navmenu_link(href=item.href) #{item.title}

mixin social(social_items)
  div.social-link
    each item in social_items
      a.social_link(href=item.href): img.social_img(src=item.src alt=item.alt)

mixin groop(groop_items)
  div.groop
    each item in groop_items
      button.groop_btn
        img.groop_img(src=item.src alt=item.alt)    


header.header 
  img.header_logo(src="img/Logo.png", alt="logo company")
  .burger
  nav.nav
    +nav([{'title': 'каталог товаров', 'href': '#'}, 
        {'title': 'доставка и оплата', 'href': '#'},
        {'title': 'Цены ', 'href': '#'},
        {'title': 'Контакты ', 'href': '#'}])
      
    
    .contact-menu 
      a.contact-menu_link(href="tel:+78125092198") <span class="mark-link">+7 (812)</span> 509 21 98
      a.contact-menu_link(href="#") перезвоните мне
      
      +social([{"href": "#", "src": "..//../img/social/vk.svg", "alt": "icon vk"},
      {"href": "#", "src": "..//../img/social/telegram.svg","alt": "icon telegram"},
      {"href": "#", "src": "..//../img/social/instagram.svg","alt": "icon instagram"},
      {"href": "#", "src": "..//../img/social/whatsapp.svg","alt": "icon whatsapp"},
      ])
        
  +groop([
    {"src": "../..//img/icon/search.svg", "alt": "icon search"},
    {"src": "../..//img/icon/likes.svg", "alt": "icon likes"},
    {"src": "../..//img/icon/cart.svg", "alt": "icon cart"}
  ])

                